
.vdodiv {
    clip-path: circle(100% at 50% 50%);
}

/* .links:hover .atag {
    transition: translateY(-100%);
    animation: slideAndFade 0.4s forwards;
    
}
 
@keyframes slideAndFade {
    0% {
       transform: translateY(0);
       opacity: 1;
     }
     50% {
       transform: translateY(-100%);
       opacity: 0;
     }
     51% {
       transform: translateY(100%);
       opacity: 0;
     }
     100% {
       transform: translateY(0);
       opacity: 1;
     }
  } */


  .links a {
    transition: all 0.5s;
}

.links:hover a:nth-child(1){
    margin-top: -1.2vw;
}