
.loopFoot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background-image: url(https://assets-global.website-files.com/659dbdfd5a080be8d3483164/659dbdfd5a080be8d348317c_ScrollUp.svg);
    background-size: cover; /* Adjust this as needed */
    background-position: center; 
    animation: rotateAnimation 15s linear infinite;
    z-index: 1;

}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}