:root {
    --salmon: #EF9D71;
    --black: #000;
    --white: #fff;
    --cyan:  #aedee0;
}


*::selection {
    background-color: var(--salmon);
}


body[theme="black"] {
    background-color: var(--black);
    
}

body[theme="black"] .section {
    color: var(--white);
}

@font-face {
    font-family: 'Sansita';
    src: url('./assets/fonts/font1.ttf');
}

@font-face {
    font-family: 'SansitaReg';
    src: url('./assets/fonts/font2.ttf');
}

@font-face {
    font-family: 'SansitaBold';
    src: url('./assets/fonts/font3.ttf');
}